#grey{
    background-color: grey;
    font-size: 23px;
}
#blue{
    background-color: rgb(20, 20, 195);
    font-size: 23px;
}
#yellow{
    background-color: rgb(212, 189, 15);
    font-size: 23px;
}